

.button:link,                
.button:visited {             
    display: block;        
    text-decoration: none; 

    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.page {
    width: 600px;
    margin: 0 auto;
}

.synopsis em {
    font-style: normal;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 0, 0);
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

#button-2 {
    color: #df0eca; 
}
a:active {
    color: rgb(37, 212, 6);
}
a:visited:hover {
    color: orange;
}
a:visited:active {
    color: rgb(0, 255, 76);
}
.button:hover,
.button:visited:hover {
  color: #e31212;
  background-color: #76AEED;  /* Light blue */
}
.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #003168;  /* Blue */
}
.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #6fe216;   
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #ff0000;     
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #0fd17d;    
}

p:last-of-type {
    margin-bottom: 50px;
}
  
p:first-of-type {
    color: #7E8184;
    font-style: italic;
}
.page > p:first-of-type {
    color: #7E8184;
    font-style: italic;
}

    